@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');

html {
  .shippori-mincho-regular {
    font-family: "Shippori Mincho", serif;
    font-weight: 200;
    font-style: normal;
  }      
}

:root {
    --primary-color: #2D2D2D;
    --secondary-color: #D8AB7C;
    --accent1-color: #989428;
    --accent2-color: #B68F62;
  
    --heading-font: 'Shippori Mincho', serif;
    --paragraph-font: 'Inter', sans-serif;
  
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #FF9100;
    --nav-hover-background-color: #000000;
}
  
nav ul {
  display: flexbox;
  align-items: center;
  text-align: left;
  padding: 10px;
}
  
nav ul li {
  display: inline;
  margin-right: 0;
}

nav ul li:last-child {
  margin-right: 0;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 13pt;
  padding: 10px;
}

nav ul li a:hover {
  text-decoration: none;
  color: #FF9100;
}

body {
  margin: 0;
  background-color: #2D2D2D;
  display: flow-root;
}

body {
  background-color: #000000;
  background-size: cover; 
  background-position: center;
}

/* HEADER */
/* Header Image */

header {
  display: flexbox;
  flex-direction: column;
  max-width: max-content;
}

#header-image img {
  display: flex;
  width: 100%;
}

#yume-kirako h2 {
  display:flex;
  justify-content:  center;
  font-size: 35px;
}

#navigation {
  display:flex;
  justify-content:  center;
}

/* FONT HEADERS */
h1, h2, h3, h4 {
  color: #ffffff;
  font-family:Arial, Helvetica, sans-serif;
}

/* MAIN */

#reasonintro {
  display: flex;
  max-width: 100%;
  justify-content: center; 
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
}

#reasonintro img {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #ffffff;
}

#reasonintro h3 {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-style: bold;
  font-size: 20pt;
  align-items: center;
  justify-content: center;
  color: #0b0b0b;
  padding: 20px;
}

#reasonintro p {
  color: #000000;
  text-align: justify;
  line-height: 150%;
  font-family: "Shippori Mincho", serif;
  font-weight: 100;
  font-size: 13pt;
  font-style: thin;
  padding: 20px;
}

#reasonbehind {
  display: flex;
  max-width: 100%;
  justify-content: center; 
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
}

#reasonbehind h3{
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-style: bold;
  font-size: 15pt;
  align-items: center;
  justify-content: center;
  color: #000000;
}

#ig-button {
  display: flex;
  max-width: 100%;
  justify-content: center; 
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
}

#ig-button img {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Ensure the height maintains aspect ratio */
  display: block; /* Ensure block display to apply dimensions properly */
}

#reasonp p{
  color: #000000;
  text-align: justify;
  line-height: 150%;
  font-family: "Shippori Mincho", serif;
  font-weight: 100;
  font-size: 13pt;
  font-style: thin;
}

/* CONTACT INFO etc. */

#contactinfo {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 20px;
}

#contactinfo h5 {
    font-size: 15px;
    text-align: left;
    color:#ffffff;
    font-family: Arial, sans-serif;
}

#contactinfo a{
  font-size: 13pt;
  text-decoration: none;
  color: #ffffff;
}

/* FOOTER ------------------------------------------------- */

footer {
  background: #AD3803;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  row-gap: 20px;
  padding: 20px;
}

footer a {
  color: white;
  font-size: 20px;
  width: 100%;
}

footer p {
  color: #ffffff;
}
.social-icons {
  padding: 20px;
  max-width: max-content;
  width: 100%;
}

.social-icons a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.social-icons img {
  width:20%;
}