@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');

html {
  .shippori-mincho-regular {
    font-family: "Shippori Mincho", serif;
    font-weight: 200;
    font-style: normal;
  }      
}

:root {
    --primary-color: #2D2D2D;
    --secondary-color: #D8AB7C;
    --accent1-color: #989428;
    --accent2-color: #B68F62;
  
    --heading-font: 'Shippori Mincho', serif;
    --paragraph-font: 'Inter', sans-serif;
  
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #bfff00;
    --nav-hover-background-color: #FF9100;
}
  
nav ul {
  display: flexbox;
  align-items: center;
  text-align: left;
  padding: 10px;
}
  
nav ul li {
  display: inline;
  margin-right: 0;
}

nav ul li:last-child {
  margin-right: 0;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20pt;
  padding: 10px;
}

nav ul li a:hover {
    text-decoration: none;
    color: #FF9100;
}

body {
  margin: 0;
  background-color: #2D2D2D;
  display: flow-root;
}

body {
  background-image: url('https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover; 
  background-position: center;
}

/* DEVICES RESOLUTION */

.container {
  width: 960px;
  margin: 0;
}

/* Tablet View */
@media only screen and (max-width: 768px) {
  .container {
      width: 90%;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .container {
      width: 100%;
      margin:0;
  }
}

.container {
  max-width: max-content;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 480px) {
  body {
      font-size: 14px; 
  }
}


/* HEADER */
/* Header Image */

header {
  display: flexbox;
  flex-direction: column;
  max-width: max-content;
}

#header-image img {
  display: flex;
  width: auto;
}


#header-nav {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  align-items: center;
}

.yume-kirako {
  padding: 50px;
  align-content: center;
  justify-content: center;
}

h1, h2, h3, h4 {
  color: #ffffff;
  font-family:Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 30pt;
}

h3 {
  font-size: 20pt;
}
/* MAIN */

main {
    padding: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

h3 {
    font-size: 30pt;
    text-align: center;
}
/* reason intro */
#reasonintro p {
  text-align: justify;
    color:#ffffff;
    line-height: 150%;
    font-family: "Shippori Mincho", serif;
    font-weight: 100;
    font-size: 13pt;
    font-style: normal;
    text-justify: auto;
    padding-bottom: 50px;
}

#reasonintro img {
    box-shadow: 0 8px 16px #000000;
}
/* reason behind */

#reasonbehind {
    display: flex;
    flex-direction: row;
    padding: 20px;
    column-gap: 100px;
    justify-content: center;
    align-items:baseline;
}

.reasonp p {
    color:#ffffff;
    line-height: 150%;
    font-family: "Shippori Mincho", serif;
    font-weight: 100;
    font-size: 15pt;
    font-style: normal;
    text-justify: auto;
    padding-bottom: 20px;
  }

.reasont {
    width: 50%;
}

.reasonp {
    width: 50%
}

.reasont h3 {
    text-align: left;
    line-height: 200%;
    font-size: 20pt;
    text-justify: distribute;
}


.reasont p{
    padding: 10px;
}

.reasont .ig-button {
    float: right;
}

#ig-button {
    background: none;
    justify-content: right;
    align-items: right;
    width: 20%;
    float: right;
}

.ig-button img {
    display: flex;
    box-shadow: none;
    height: auto;
    width: 20%;
}

/* CONTACT INFO etc. */

#contactinfo {
    display: flex;
    flex-direction: row;
    column-gap: 150px;
    align-content: center;
    justify-content: center;
}

.colab h5 {
    font-size: 20px;
    text-align: left;
    color: hsl(0, 0%, 100%);
    font-family: Arial, sans-serif;
    font-weight: 100;
    line-height: 150%;
}

.colab p {
    color:#ffffff;
    font-family: "Shippori Mincho", serif;
    font-weight: 100;
    font-size: 15pt;
    text-justify: auto;
}

.colab1 h5 {
    font-size: 20px;
    text-align: left;
    color: hsl(0, 0%, 100%);
    font-family: Arial, sans-serif;
    font-weight: 100;
    line-height: 150%;
}

/* LINES All same setting*/
#line {
    padding: 10px;
}

/* FOOTER ------------------------------------------------- */

footer {
  background: #AD3803;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
  padding: 20px;
}

footer a {
  color: white;
  font-size: 20px;
  width: 30%;
}

.social-icons {
  padding: 20px;
  max-width: max-content;
  width: 70%;
}

.social-icons a {
  color: white;
  font-size: 28px;
  text-decoration: none;
}

.social-icons img {
  width:25%;
}