@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');

html {
  .shippori-mincho-regular {
    font-family: "Shippori Mincho", serif;
    font-weight: 200;
    font-style: normal;
  }      
}

:root {
    --primary-color: #2D2D2D;
    --secondary-color: #D8AB7C;
    --accent1-color: #989428;
    --accent2-color: #B68F62;
  
    --heading-font: 'Shippori Mincho', serif;
    --paragraph-font: 'Inter', sans-serif;
  
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #FF9100;
    --nav-hover-background-color: #000000;
}
  
nav ul {
  display: flexbox;
  align-items: center;
  text-align: left;
  padding: 10px;
}
  
nav ul li {
  display: inline;
  margin-right: 0;
}

nav ul li:last-child {
  margin-right: 0;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 13pt;
  padding: 10px;
}

nav ul li a:hover {
  text-decoration: none;
  color: #FF9100;
}

body {
  margin: 0;
  background-color: #2D2D2D;
  display: flow-root;
}

body {
  background-color: #000000;
  background-size: cover; 
  background-position: center;
}

z

/* HEADER */
/* Header Image */

header {
  display: flex;
  flex-direction: column;
  max-width: max-content;
}

#header-image img {
  display: flex;
  width: 100%;
}

#yume-kirako h2 {
  display:flex;
  justify-content:  center;
  font-size: 35px;
}

#navigation {
  display:flex;
  justify-content:  center;
}

/* FONT HEADERS */
h1, h2, h3, h4 {
  color: #ffffff;
  font-family:Arial, Helvetica, sans-serif;
}

/* MAIN ---------------------------- */

/* MOTTO */

#moto {
  display: flex;
  justify-content: center; 
  flex-direction: column;
  align-items: center;
  height: 40vh;
  padding: 40px;
  background-color: #FFFFFF;
  background-size: cover;
  background-position: center;
}

#moto h4 {
  text-align: justify;
  font-family:Arial, Helvetica, sans-serif;
  font-style: bold;
  font-size: 20pt;
  align-items: center;
  justify-content: center;
  color: #0b0b0b;
  padding: 20px;
}

.social-button {
  display: flex;
  font-size: 20pt;
  background-color: #000000;
  border-radius: 1pt;
  color: #ffffff;
}

#moto span {
  color: white; /* Change the link text color to white */
  font-family: "Shippori Mincho", serif;
  font-weight: 100;
  font-size: 20pt;
  font-style: thin;
}

#moto:hover span {
  color: rgb(51, 51, 51); /* Optional: change color on hover */
}

#theartist{
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  background-color:#383838;
}

#theartist img{
  display: flex;
  max-width: max-content;
  width: 100%;
}
/* ABSTRACT PAINTING SECTION */

#abstract-painting {
  display: flex;
  max-width: max-content;
  flex-direction: column;
  padding: 40px;
}

#abstract-painting p {
  color: #ffffff;
  text-align: justify;
  font-family: "Shippori Mincho", serif;
  font-weight: 100;
  font-size: 13pt;
  font-style: normal;
}

#abstract-painting h3 {
  color: #ffffff;
  text-align: left;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20pt;
  font-style: bold;
}

#abstractimg {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-self: center;
  align-items: center;
  background-color:#2D2D2D;
}

#abstractimg img {
  width: 40%;
  box-shadow: 0 8px 16px #000000;
  padding: 20px;
}

/* FREEHAND DRAWING */
#freehand-drawing {
  display: flex;
  max-width: max-content;
  flex-direction: column;
  padding: 20px;
}

#freehand-drawing p {
  color: #ffffff;
  text-align: justify;
  font-family: "Shippori Mincho", serif;
  font-weight: 100;
  font-size: 13pt;
  font-style: normal;
  padding: 20px;
}

#freehand-drawing h3 {
  padding: 20px;
  color: #ffffff;
  text-align: left;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20pt;
  font-style: bold;
}

#freehandimg {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-self: center;
  align-items: center;
  background-color:#2D2D2D;
}

#freehandimg img {
  width: 40%;
  box-shadow: 0 8px 16px #000000;
  padding: 20px;
}

#freehandtext {
  padding: 20px;
}

#freehandtext p{
  color: #ffffff;
  font-family: "Shippori Mincho", serif;
  font-weight: 100;
  font-size: 13pt;
  font-style: normal;
  text-align: right;
}


/* HEADER ----SECTION 3 UPCOMING EVENT---------------- */
#upcoming {
  background-image: url('https://images.unsplash.com/photo-1631477076114-9123f721b9dc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
}

#upcoming {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 20px;
}

.eventinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventinfo p {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15pt;
  line-height: 120%;
  text-align: center;
}

.eventinfo img{
  padding: 20px;
  height: auto;
  align-items: center;
  width: 30%;
  height: auto;
}


/* FOOTER ------------------------------------------------- */

footer {
  background: #AD3803;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  row-gap: 20px;
  padding: 20px;
}

footer a {
  color: white;
  font-size: 20px;
  width: 100%;
}

footer p {
  color: #ffffff;
}
.social-icons {
  padding: 20px;
  max-width: max-content;
  width: 100%;
}

.social-icons a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.social-icons img {
  width:20%;
}